<div class="pager">
    <a href="#" class="previous <%= @page == 1 ? 'disabled' : '' %>">
        <%= link_to_if @page > 1, "&larr; Previous".html_safe, comics_path(page: @page - 1) %>
    </a>
    <a href="#" class="next">
        <%= link_to "Next &rarr;".html_safe, comics_path(page: @page + 1) %>
    </a>
</div>